.going-to-be {
    padding-top: 75px;
    padding-bottom: 137px;

    @include max-break('1370px') {
        padding-bottom: 115px;
    }

    @include max-break('1280px') {
        padding-bottom: 100px;
    }

    @include max-break('1199px') {
        padding-bottom: 70px;
    }

    @include max-break('850px') {
        padding-bottom: 50px;
    }

    @include max-break('670px') {
        padding-top: 60px;
        padding-bottom: 45px;
    }

    &__container {

    }

    &__content {
        display: flex;
        align-items: stretch;
    }

    &__title {
        color: #CC9156;
        font-size: 75px;
        line-height: 1.2;
        padding-right: 37px;
        border-right: 2px solid #1E0202;
        margin-right: 52px;
        max-width: 634px;
        min-height: 100%;
        display: flex;
        align-items: center;

        @include max-break('1199px') {
            font-size: 60px;
            max-width: calc(50% + 25px);
        }

        @include max-break('991px') {
            font-size: 50px;
        }

        @include max-break('850px') {
            font-size: 45px;
            margin-right: 35px;
            padding-right: 25px;
            max-width: calc(50% + 10px);
        }

        @include max-break('670px') {
            font-size: 40px;
        }

        @include max-break('570px') {
            font-size: 36px;
            margin-right: 25px;

        }
    }

    &__desc {
        width: 100%;
        color: #1E0202;
        font-family: $PP_Formula;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;

        @include max-break('1199px') {
            font-size: 20px;
        }

        @include max-break('991px') {
            font-size: 16px;
        }

        @include max-break('670px') {
            font-size: 14px;
        }
    }
}
