.intelligence-slider {
    padding-top: 72px;
    padding-bottom: 160px;

    @include max-break('1280px') {
        padding-bottom: 125px;
    }

    @include max-break('1199px') {
        padding-bottom: 70px;
        padding-top: 55px;
    }

    &__container {
        display: flex;
    }

    &__content {
        width: 100%;

        h4 {
            margin-bottom: 11px;
        }

        p {
            margin-bottom: 25px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 86px;
        margin-left: auto;
        margin-right: auto;

        //@include max-break('1030px') {
        //    margin-bottom: 60px;
        //}
    }

    &__slider-wrap {
        background-repeat: no-repeat;
        background-size: 650px auto;
        background-position: 100% 0;
        position: relative;
        z-index: 1;
    }

    &__bg-img {
        position: absolute;
        z-index: 0;
        right: -254px;
        top: -56px;
    }

    &__slider {
        max-width: 380px;

        //@include max-break('991px') {
        //    max-width: 600px;
        //}
        //
        //@include max-break('850px') {
        //    max-width: 530px;
        //}
        //
        //@include max-break('670px') {
        //    max-width: unset;
        //}

        &.swiper {
            margin-left: 0;
        }

        .swiper-wrapper {
            margin-bottom: 27px;
        }
    }

    &__item {
        display: flex;
    }

    &__img-wrap {
        min-width: 263px;
        width: 263px;
        height: fit-content;
        border-radius: 50%;
        border: 2px solid #1E0202;
        padding: 18px;
        margin-right: 52px;

        @include max-break('1199px') {
            margin-right: 45px;
            min-width: 235px;
            width: 235px;
        }

        @include max-break('1030px') {
            margin-right: 40px;
            min-width: 210px;
            width: 210px;
        }

        @include max-break('850px') {
            min-width: 160px;
            width: 160px;
            padding: 12px;
        }
    }

    &__img-inner {
        background-color: #8DAFCF;
        border-radius: 50%;
    }

    &__author-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
    }

    &__content-wrap {

    }

    &__authors-name,
    &__author-status {
        color: #1E0202;
        font-family: $Poppins;
        font-style: normal;
    }

    &__authors-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.27;
        margin-bottom: 6px;
    }

    &__author-status {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.28;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    &__btn-1 {
        margin-bottom: 26px;
    }

    &__btn-2 {
        border: 1px solid #1E0202;
    }

    &__swiper-btn-wrap {

    }

    &__btn-prev {

    }

    &__btn-next {

    }
}
