.intelligence-portal-tabs {
    padding-top: 65px;
    padding-bottom: 77px;

    @include max-break('1199px') {
        padding-bottom: 70px;
        padding-top: 55px;
    }

    &__container {
        display: flex;

        h3 {
            color: var(--Brown, #1E0202);
            font-family: $PP_Formula;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 35px; /* 140% */
            margin: 0 0 37px;
        }
    }

    &__items {
        position: relative;
        z-index: 5;
    }

    &__item {
        &-name {
            min-width: 172px;
            display: inline-block;
        }

        &-link {
            width: 100%;
            display: inline-block;
            color: var(--Brown, #1E0202);
            font-family: $Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 111.111% */
            padding: 0 0 12px;

            &.active {
                color: var(--Sand, #CC9156);
                border-bottom: 1.5px solid var(--Sand, #CC9156);
            }
        }

        &-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 17px;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            height: 0;
            border-top: 1.5px solid var(--Brown,#1e0202);
            z-index: 1;
            margin-top: -1px;

            &.active {
                opacity: 1;
                visibility: visible;
                height: auto;
                padding: 35px 0 0;
                transition: opacity .4s ease-in;
            }
        }
    }

    &__elem {
        display: flex;
        max-width: 278px;
        padding: 20px 22px 24px 22px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        color: var(--Beige, #F2F1ED);
        background: var(--Sand, #CC9156);

        &-image {
            height: 111px;
            border-radius: 5px;
            margin: 0 auto 15px;
        }

        &-title {
            font-family: $PP_Formula;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px; /* 138.889% */
            margin: 0 0 10px;
        }

        &-text {
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
        }
    }

}