.intelligence-report {
    padding-top: 49px;
    padding-bottom: 49px;

    &__container {
        display: flex;
    }

    &__title {
        color: var(--Brown, #1E0202);
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: 45px; /* 128.571% */
        margin: 0 0 35px;

        &-sub {
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 35px;
            display: block;
        }
    }

    &__content {
        width: 100%;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        gap: 22px;

        &-more {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__post {
        display: flex;
        gap: 16px;
        border-radius: 10px;
        border: 1.5px solid var(--Brown, #1E0202);
        padding: 22px;

        &-img {
            width: 130.877px;
            height: 143.028px;

            img {
                width: 130.877px;
                height: auto;
                border-radius: 9.553px;
                border: 1px solid #D9D9D9;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: var(--Brown, #1E0202);
            font-family: $Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
        }

        &-excerpt {
            max-width: 80%;
        }
    }

}
