.intelligence-portal-slider {
    padding-top: 145px;
    padding-bottom: 57px;

    @include max-break('1280px') {
        padding-bottom: 125px;
    }

    @include max-break('1199px') {
        padding-bottom: 70px;
        padding-top: 55px;
    }

    &__container {
        display: flex;
    }

    &__wrap {
        position: relative;
        min-height: 483px;
    }

    &__item {
        max-width: 371px;
        height: 483px;
        display: flex;
        padding: 42px 24px;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        flex-shrink: 0;
        border-radius: 15px;
        border: 1px solid var(--Beige, #F2F1ED);
        background: var(--Brown, #1E0202);
        cursor: pointer;

        > * {
            pointer-events: none;
        }        

        &.slide {
            position: absolute;
            transition: all 0.4s ease-out;
            -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
            -webkit-transform: scale(0.825) translate(76%);
            transform: scale(0.825) translate(76%);
            z-index: 1;
        }

        &.prev-slide,
        &.next-slide {
            -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
            z-index: 2;
        }

        &.prev-slide {
            -webkit-transform: scale(0.9) translate(38%);
            transform: scale(0.9) translate(38%);
        }

        &.next-slide {
            -webkit-transform: scale(0.9) translate(-49%);
            transform: scale(0.9) translate(-49%);
        }

        &.active-slide {
            -webkit-filter: brightness(1);
            filter: brightness(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            z-index: 3;
            cursor: default;
        }
    }

    &__content {
        width: 100%;
        color: var(--Beige, #F2F1ED);
        text-align: center;
        font-family: $Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        padding: 0 16px;
        margin: 0 0 57px;
    }

    &__image {
        height: 161px;
        border-radius: 5px;
        margin: 0 0 42px;
    }

    &__title {
        color: var(--Beige, #F2F1ED);
        text-align: center;
        font-family: $PP_Formula;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px; /* 140% */
        margin-bottom: 10px;
    }

    .swiper-wrapper {
        justify-content: center;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -68px;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
        cursor: default;
    }

}