.our-locations {
    padding-top: 100px;
    padding-bottom: 163px;

    @include max-break('1370px') {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    @include max-break('1280px') {
        padding-bottom: 70px;
        padding-top: 60px;
    }

    @include max-break('1030px') {
        padding-bottom: 50px;
    }

    @include max-break('991px') {
        padding-bottom: 30px;
    }

    @include max-break('670px') {
        padding-top: 40px;
    }

    @include max-break('570px') {
        padding-bottom: 0;
    }

    &__container {

    }

    &__title {
        text-align: center;
        margin-bottom: 58px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: calc((100% - 315px) / 4);
        margin-right: 105px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        @include max-break('1280px') {
            width: calc((100% - 240px) / 4);
            margin-right: 80px;
        }

        @include max-break('1030px') {
            width: calc((100% - 195px) / 4);
            margin-right: 65px;
        }

        @include max-break('991px') {
            width: calc((100% - 65px) / 2);
            margin-right: 65px;
        }

        &:nth-child(4n + 4) {
            margin-right: 0;
        }

        &:nth-child(2n + 2) {
            @include max-break('991px') {
                margin-right: 0;
            }
        }
    }

    &__img-wrap {
        width: max-content;
        margin-bottom: 20px;
    }

    &__continent,
    &__location {
        font-family: $PP_Formula;
        font-size: 16px;
        font-style: normal;
    }

    &__continent {
        color: #CC9156;
        font-weight: 800;
        line-height: 1.75;
        margin-bottom: 16px;
    }

    &__location {
        color: #1E0202;
        font-weight: 400;
        line-height: 1.75;
        margin-bottom: 8px;

        @include max-break('1030px') {
            font-size: 14px;
        }
    }

    &__phone {
        margin-top: auto;
    }

    &__phone,
    &__email {
        color: #1E0202;
        font-family: $Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.41;
        display: flex;
    }
}
