.max-journey {
    padding-top: 50px;
    padding-bottom: 52px;

    @include max-break('1030px') {
        padding-top: 45px;
    }

    &__container {

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 872px;
        color: #1E0202;
        text-align: center;
        line-height: 1.16;
        text-transform: capitalize;
        margin-bottom: 70px;

        @include max-break('1199px') {
            max-width: 730px;
        }

        @include max-break('991px') {
            max-width: 590px;
            margin-bottom: 55px;
        }
    }

    &__cards {
        width: 100vw;
        position: relative;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);

        &.swiper {
            padding-left: 100px;
            padding-right: 30px;

            @include max-break('480px') {
                padding-left: 50px;
            }
        }

        .swiper-wrapper {
            display: flex;
            align-items: unset !important;
            padding-top: 53px;
            margin-bottom: 45px;
            height: max-content !important;

            @include max-break('991px') {
                margin-bottom: 35px;
                padding-top: 46px;
            }
        }
    }

    &__card.swiper-slide {
        padding-top: 32px;
        border-top: 2px solid #1E0202;
        position: relative;
        z-index: 1;

        @include max-break('991px') {
            padding-top: 30px;
        }

        &:before,
        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            top: 0;
            z-index: 1;
        }

        &:before {
            left: -20px;
            top: -2px;
            width: 20px;
            height: 2px;
            background-color: #1E0202;
        }

        &:after {
            left: 0;
            width: 20px;
            height: 20px;
        }

        &:first-of-type {
            &:before {
                left: -100px;
                width: 100px;
            }
        }

        &.circle {

            &:after {
                top: -12px;
                background: #F2F1ED url(data:image/svg+Xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEgMjFDMTYuNTIyOCAyMSAyMSAxNi41MjI4IDIxIDExQzIxIDUuNDc3MTUgMTYuNTIyOCAxIDExIDFDNS40NzcxNSAxIDEgNS40NzcxNSAxIDExQzEgMTYuNTIyOCA1LjQ3NzE1IDIxIDExIDIxWiIgZmlsbD0iI0YyRjFFRCIgc3Ryb2tlPSIjMUUwMjAyIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPjwvc3ZnPg==) center center no-repeat;
                background-size: contain;
            }
        }

        &.triangle {
            &:after {
                top: -12px;
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxOSAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYuODY2NCA4Ljk3MjIxQzE4LjM3NzkgOS45MjQ1NiAxOC4zNzc5IDEyLjA4MTkgMTYuODY2NCAxMy4wMzQzTDEwLjU0NzggMTcuMDEyMUw0Ljg0MTc3IDIwLjYwNzdDMy4xODM4OCAyMS42NTA4IDAuOTk5OTk5IDIwLjQ5MTEgMC45OTk5OTkgMTguNTczNUwxIDExTDEgMy40MjY1NEMxIDEuNTA4ODggMy4xODM4OCAwLjM0OTIxOSA0Ljg0MTc3IDEuMzkyMjdMMTAuNTQ3OCA0Ljk4Nzg4TDE2Ljg2NjQgOC45NzIyMVoiIGZpbGw9IiNGMkYxRUQiIHN0cm9rZT0iIzFFMDIwMiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz48L3N2Zz4=) center center no-repeat;
                background-size: contain;
            }
        }

        &.star {
            &:after {
                top: -12px;
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMyAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuNDM2NCAxLjUyODYzTDEzLjY1NDkgMy42NDkwNUMxNC45Mzk1IDUuODg2OTMgMTYuODcyMyA3LjcyNTQgMTkuMjE5MyA4Ljk1MzAxTDIxLjQ0NjMgMTAuMTEwMUMyMi4xODQ2IDEwLjQ5NzggMjIuMTg0NiAxMS41MDgxIDIxLjQ0NjMgMTEuODg5OUwxOS4yMTkzIDEzLjA0N0MxNi44NzIzIDE0LjI2ODcgMTQuOTM5NSAxNi4xMTMxIDEzLjY1NDkgMTguMzUxTDEyLjQzNjQgMjAuNDcxNEMxMi4wMzQyIDIxLjE3NjIgMTAuOTcxOCAyMS4xNzYyIDEwLjU2MzYgMjAuNDcxNEw5LjM0NTA4IDE4LjM1MUM4LjA2MDUzIDE2LjExMzEgNi4xMjc3IDE0LjI3NDYgMy43ODA2OSAxMy4wNDdMMS41NTM3NCAxMS44ODk5QzAuODE1NDIxIDExLjUwMjIgMC44MTU0MjEgMTAuNDkxOSAxLjU1Mzc0IDEwLjExMDFMMy43ODA2OSA4Ljk1MzAxQzYuMTI3NyA3LjczMTI4IDguMDYwNTMgNS44ODY5MyA5LjM0NTA4IDMuNjQ5MDVMMTAuNTYzNiAxLjUyODYzQzEwLjk2NTggMC44MjM3ODkgMTIuMDI4MiAwLjgyMzc4OSAxMi40MzY0IDEuNTI4NjNaIiBmaWxsPSIjRjJGMUVEIiBzdHJva2U9IiMxRTAyMDIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PC9zdmc+) center center no-repeat;
                background-size: contain;
            }
        }

        &.square {
            &:after {
                top: -12px;
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNDYyOCAyLjQ1OTA2TDIuNDU5MyAxMC40NjI2QzEuNjUzMzUgMTEuMjY4NSAxLjY1MzM1IDEyLjU3NTIgMi40NTkzIDEzLjM4MTJMMTAuNDYyOCAyMS4zODQ3QzExLjI2ODggMjIuMTkwNiAxMi41NzU1IDIyLjE5MDYgMTMuMzgxNCAyMS4zODQ3TDIxLjM4NDkgMTMuMzgxMkMyMi4xOTA5IDEyLjU3NTIgMjIuMTkwOSAxMS4yNjg1IDIxLjM4NDkgMTAuNDYyNkwxMy4zODE0IDIuNDU5MDZDMTIuNTc1NSAxLjY1MzEyIDExLjI2ODggMS42NTMxMiAxMC40NjI4IDIuNDU5MDZaIiBmaWxsPSIjRjJGMUVEIiBzdHJva2U9IiMxRTAyMDIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PC9zdmc+) center center no-repeat;
                background-size: contain;
            }
        }
    }

    &__year {
        position: absolute;
        z-index: 1;
        top: -55px;
        left: 0;
        color: #1E0202;
        font-family: $PP_Formula;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.38;

        @include max-break('991px') {
            font-size: 16px;
            top: -50px;
        }
    }

    &__card-content {
        display: flex;
        border-radius: 14.33px;
        border: 2px solid #CC9156;
        background: #CC9156;
        padding: 24px 17px 22px 22px;
        height: 100%;
    }

    &__card-img-wrap {
        width: 131px;
        min-width: 131px;
        height: 143px;
        border-radius: 9px;
        overflow: hidden;
        margin-right: 16px;
    }

    &__card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__card-info {

    }

    &__card-title {
        color: #F2F1ED;
        font-family: $PP_Formula;
        font-size: 16.953px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    &__card-desc {
        color: #F2F1ED;
        font-family: $Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42;
    }

    &__swiper-btn-wrap {
        margin-left: auto;
        margin-right: auto;
    }

    &__button-prev {

    }

    &__button-next {

    }
}
