.our-clients {
    padding-top: 100px;
    padding-bottom: 76px;

    @include max-break('1370px') {
        padding-top: 80px;
    }

    @include max-break('1199px') {
        padding-top: 50px;
    }

    @include max-break('991px') {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @include max-break('670px') {
        padding-bottom: 40px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        @include max-break('670px') {
            gap: 65px;
        }
    }

    &__title {
        max-width: 723px;
        text-align: center;

        @include max-break('1199px') {
            max-width: 680px;
        }

        @include max-break('1030px') {
            max-width: 610px;
        }
    }

    &__logos {
        width: 100vw;
        position: relative;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }

    &__banner {
        max-width: 1070px;
        width: 100%;
        border-radius: 16px;
        border: 2px solid #1E0202;
        padding: 55px 54px 55px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include max-break('1199px') {
            padding: 50px 35px 50px 35px;
        }

        @include max-break('670px') {
            padding: 40px 20px;
        }
    }

    &__banner-title {
        color: #CC9156;
        margin-right: 40px;
    }

    &__banner-img-wrap {
        width: 312px;

        @include max-break('768px') {
            width: 225px;
        }

        @include max-break('670px') {
            width: 185px;
        }

        @include max-break('570px') {
            width: 150px;
        }
    }

    &__banner-img {
        width: 100%;
        height: auto;
    }
}

//.logos {
//    &__logos {
//    }
//    &__logo-img-wrap {
//    }
//    &__logo-img {
//    }
//    &__hover-logo-img {
//    }
//}
