.our-team {
    padding-top: 113px;
    padding-bottom: 30px;

    @include max-break('1370px') {
        padding-top: 90px;
    }

    @include max-break('1280px') {
        padding-top: 70px;
    }

    @include max-break('1030px') {
        padding-top: 50px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        margin-bottom: 90px;

        @include max-break('1030px') {
            margin-bottom: 70px;
        }

        @include max-break('850px') {
            margin-bottom: 60px;
        }

        @include max-break('670px') {
            margin-bottom: 50px;
        }
    }

    &__cards {
        max-width: 1135px;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    &__card {
        margin-right: 45px;
        margin-bottom: 60px;
        padding: 24px;
        border-radius: 16px;
        border: 1px solid #1E0202;
        background-color: #F2F1ED;
        min-width: calc((100% - 90px) / 3);
        max-width: calc((100% - 90px) / 3);
        flex: 1;
        position: relative;
        z-index: 1;

        @include max-break('1199px') {
            margin-right: 35px;
            margin-bottom: 50px;
            min-width: calc((100% - 70px) / 3);
            max-width: calc((100% - 70px) / 3);
        }

        @include max-break('991px') {
            padding: 18px 18px 24px;
        }

        @include max-break('850px') {
            margin-right: 25px;
            min-width: calc((100% - 50px) / 3);
            max-width: calc((100% - 50px) / 3);
        }

        @include max-break('768px') {
            margin-right: 35px;
            min-width: calc((100% - 35px) / 2);
            max-width: calc((100% - 35px) / 2);
        }

        &:hover {

            .our-team {

                &__card-inner {
                    opacity: 1;
                }

                &__name,
                &__status,
                &__text {
                    transform: translateY(0);
                }
            }
        }

        &:nth-child(2n + 2) {

            @include max-break('768px') {
                margin-right: 0;
            }
        }

        &:nth-child(3n + 3) {
            margin-right: 0;

            &:not(:nth-child(2n + 2)) {
                @include max-break('768px') {
                    margin-right: 35px;
                }
            }
        }
    }

    &__img-wrap {
        border-radius: 16px;
        overflow: hidden;
        background-color: #CC9156;
        margin-bottom: 23px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        bottom: -5px;
    }

    &__name,
    &__status,
    &__text {
        color: #1E0202;
        text-align: center;
        font-style: normal;
    }

    &__name {
        font-family: $PP_Formula;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 7px;

        @include max-break('991px') {
            font-size: 20px;
        }

        @include max-break('850px') {
            font-size: 16px;
        }
    }

    &__status {
        font-family: $Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.27;

        @include max-break('991px') {
            font-size: 14px;
        }
    }

    &__card-inner {
        opacity: 0;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: absolute;
        z-index: 2;
        top: -1px;
        left: -1px;
        padding: 24px;
        border-radius: 16px;
        background-color: #CC9156;
        overflow-y: auto;
        transition: opacity .5s ease;

        @include max-break('991px') {
            padding: 18px;
        }

        .our-team {
            &__name,
            &__status,
            &__text {
                transform: translateY(20px);
                transition: transform .5s ease;
            }

            &__name {
                margin-bottom: 12px;
            }

            &__status {
                margin-bottom: 20px;
            }

            &__name,
            &__status {
                text-align: start;
            }
        }
    }

    &__text {
        font-family: $Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42;
        text-align: start;

        @include max-break('850px') {
            font-size: 12px;
        }
    }
}
