.protection {
    padding-top: 122px;
    padding-bottom: 70px;

    @include max-break('1370px') {
        padding-top: 100px;
    }

    @include max-break('1199px') {
        padding-top: 85px;
    }

    @include max-break('991px') {
        padding-top: 75px;
        padding-bottom: 60px;
    }

    @include max-break('570px') {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title,
    &__desc {
        max-width: 610px;
        text-align: center;
    }

    &__title {
        margin-bottom: 30px;

        @include max-break('850px') {
            max-width: 485px;
        }

        @include max-break('570px') {
            max-width: 400px;
        }

        @include max-break('480px') {
            margin-bottom: 25px;
        }
    }

    &__desc {
        margin-bottom: 61px;

        @include max-break('480px') {
            margin-bottom: 45px;
        }
    }

    &__items {
        display: flex;
        gap: 56px;
        max-width: 1136px;

        @include max-break('1280px') {
            gap: 30px;
        }

        @include max-break('991px') {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 26px;

        @include max-break('991px') {
            width: calc((100% - 60px) / 3);
            flex: unset;
            align-items: center;
        }

        @include max-break('570px') {
            width: calc((100% - 30px) / 2);
        }

        @include max-break('480px') {
            width: 300px;
            gap: 15px;
        }
    }

    &__item-icon {
        width: max-content;
        height: max-content;
    }

    &__item-title {
        color: #1E0202;
        font-family: $PP_Formula;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.9px;

        @include max-break('991px') {
            text-align: center;
        }
    }

    &__item-text {
        color: #1E0202;
        font-family: $Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.41;

        @include max-break('991px') {
            text-align: center;
        }
    }
}

body {
    &.company-page {
        .protection {
            padding-top: 116px;

            @include max-break('1199px') {
                padding-top: 85px;
            }

            @include max-break('1030px') {
                padding-top: 70px;
            }

            @include max-break('850px') {
                padding-top: 50px;
            }

            @include max-break('670px') {
                padding-top: 45px;
            }

            &__title {
                margin-bottom: 92px;

                @include max-break('991px') {
                    margin-bottom: 60px;
                }

                @include max-break('480px') {
                    margin-bottom: 45px;
                }
            }

            &__items {
                gap: 90px;

                @include max-break('670px') {
                    gap: 30px;
                }
            }
        }
    }
}
