.slider-w-img {
    padding-top: 50px;
    padding-bottom: 50px;

    @include max-break('1199px') {
        padding-top: 40px;
    }

    @include max-break('480px') {
        padding-bottom: 54px;
    }

    &__container {

    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__items {
        max-width: 1117px;
        height: -webkit-fill-available;

        .swiper-wrapper {
            padding-bottom: 5px;
        }
    }

    &__item {
        display: flex;

        @include max-break('670px') {
            flex-direction: column;
            align-items: center;
        }

        .swiper {
        }

        .swiper-wrapper {
        }

        .swiper-slide {
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: unset;
        }

        .swiper-button-prev {

        }

        .swiper-button-next {

        }
    }

    &__item-icon {
        width: 100%;
        display: flex;
        align-items: center;

        @include max-break('670px') {
            max-width: 430px;
            margin-bottom: 30px;
        }

        @include max-break('480px') {
            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__item-content {
        min-width: 420px;
        max-width: 420px;
        margin-left: 54px;
        padding-top: 80px;

        @include max-break('1030px') {
            padding-top: 35px;
        }

        @include max-break('991px') {
            max-width: 390px;
            min-width: 390px;
        }

        @include max-break('850px') {
            padding-top: 0;
            max-width: 350px;
            min-width: 350px;
        }

        @include max-break('670px') {
            margin-left: 0;
            max-width: 500px;
        }

        @include max-break('480px') {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &__item-title,
    &__item-desc,
    &__author-name,
    &__job-status {
        color: #1E0202;
    }

    &__item-title {
        line-height: 1.28;
        margin-bottom: 48px;

        @include max-break('850px') {
            margin-bottom: 35px;
        }

        @include max-break('480px') {
            margin-bottom: 20px;
        }
    }

    &__item-desc,
    &__author-name {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;

        @include max-break('1199px') {
            font-size: 16px;
        }
    }

    &__item-desc {
        font-family: $PP_Formula;
        line-height: 1.38;
        margin-bottom: 22px;

        @include max-break('480px') {
            font-size: 12px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 24px;
        }
    }

    &__author-name {
        font-family: $Poppins;
        line-height: 1.27;
        margin-bottom: 6px;

        @include max-break('480px') {
            text-align: center;
            margin-bottom: 5px;
        }
    }

    &__job-status {
        font-family: $Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.28;
        text-transform: capitalize;
        margin-bottom: 22px;
        max-width: 235px;

        @include max-break('480px') {
            text-align: center;
            max-width: 250px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__swiper-btn-wrap {

        &.desktop {
            @include max-break('670px') {
                display: none;
            }
        }

        &.mobile {
            display: none;

            @include max-break('670px') {
                display: flex;
                margin-left: 68px;
            }

            @include max-break('570px') {
                margin-left: 20px;
            }

            @include max-break('480px') {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
