.your-interests {
    padding-top: 61px;
    padding-bottom: 43px;

    &__container {
        display: flex;
    }

    &__title {
        color: #1E0202;
        margin-bottom: 44px;
        max-width: 628px;
        font-weight: 800;
    }

    &__levels {
        max-width: 662px;
    }

    &__level {
        border-radius: 10px;
        border: 1.5px solid #1E0202;
        background: #F2F1ED;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        padding: 35px 33px 23px 41px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__item-title {
        color: #CC9156;
        font-family: $PP_Formula;
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.11;
        margin-right: 32px;
        width: max-content;
        white-space: nowrap;
    }

    &__item-text {
        color: #1E0202;
        font-family: $Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42;
    }
}
