.site-footer {
    margin-top: auto;
    padding-top: 32px;
    background-color: #151836;

    &__container {
        display: flex;
    }

    &__logo {
        margin-right: 193px;
    }

    &__locations {
        margin-right: 102px;

        &-country {
            color: #CC7510;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.42;
            margin-bottom: 4px;
        }

        &-city {
            color: #F3F0EC;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.42;
            margin-bottom: 16px;
        }
    }

    &__phone {
        color: var(--White-Text, #F3F0EC);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.42;
        margin-top: 24px;
        text-decoration: none;
    }

    &__menu {
        ul {
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 16px;
                list-style: none;

                a, span {
                    color: var(--White-Text, #F3F0EC);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Turbine, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.42;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                }
            }
        }
    }

    &__left {
        margin-left: auto;
        text-align: center;
    }

    &__login {
        color: var(--White-Text, #F3F0EC);
        display: inline-block;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.57;
        margin-bottom: 8px;
        padding: 0 8px;
        border: 1px solid  #CC7510;
        text-decoration: none;
    }

    &__social-title {
        margin-bottom: 8px;
        color:  #F3F0EC;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
    }

    &__social-links {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;

        a {
            text-decoration: none;
        }
    }

    &__talk {
        border: 1px solid  #CC7510;
        padding: 0 8px;
        display: inline-block;
        color:  #F3F0EC;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.57;
        margin: 0;
        text-decoration: none;
    }

    &__bottom {
        margin-top: 40px;
        border-top: 1px solid #F3F0EC;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        color:  #F3F0EC;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;

        span {
            font-weight: 700;
        }
    }

    &__bottom-text {
        color: var(--White-Text, #F3F0EC);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
    }
}
