.site-footer {
    margin-top: auto;
    padding-top: 32px;
    background-color: #151836;

    @media screen and (max-width: 480px) {
        padding: 40px 0;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @media screen and (max-width: 480px) {
            gap: 0;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__left {
        @media screen and (max-width: 480px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }
    }

    &__logo {

        @media screen and (max-width: 1200px) {
            margin-right: 130px;
        }

        @media screen and (max-width: 992px) {
            margin-right: 50px;
        }

        @media screen and (max-width: 768px) {
            margin-right: 0;
        }

        @media screen and (max-width: 480px) {
            img {
                max-width: 52px;
                height: auto;
            }
        }
    }

    &__locations {
        &-item {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 20px;
            padding-bottom: 16px;
            border-bottom: 1px solid #fff;
        }

        &-country,
        &-city {
            p {
                color: inherit;
                font-feature-settings: inherit;
                font-family: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-align: inherit;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }

        &-country {
            color: #cc7510;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.42;
            margin-bottom: 4px;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 480px) {
                font-size: 14px;
                line-height: 1.2;
                margin-bottom: 8px;
            }
        }

        &-city {
            color: #f3f0ec;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.42;
            margin-bottom: 16px;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 480px) {
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
            }
        }
    }

    &__phone {
        color: var(--White-Text, #f3f0ec);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.42;
        text-decoration: none;

        @media screen and (max-width: 480px) {
            display: none;
        }

        &-mobile {
            display: none;
            width: 100%;

            @media screen and (max-width: 480px) {
                display: block;
                margin-bottom: 24px;
                font-weight: 700;

                a {
                    font-size: 16px;
                    font-weight: 400;
                    display: inline-block;
                    margin: 0;
                }
            }
        }
    }

    &__menu {
        @media screen and (max-width: 480px) {
            width: 50%;
            padding: 15px 0;
        }

        ul {
            padding: 0;
            margin: 0;

            @media screen and (max-width: 480px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 0 20px;
            }

            li {
                margin-bottom: 16px;
                list-style: none;
                line-height: 1;
                text-indent: 0;

                @media screen and (max-width: 480px) {
                    margin-bottom: 8px;
                }

                > a,
                > .like-link {
                    transition: background-color 0.3s, border-color 0.3s;
                    border: 1px solid transparent;
                    padding: 4px 8px;

                    &:hover {
                        border: 1px solid #cc7510;
                        background-color: transparent;
                    }
                }

                &.current-menu-item {
                    > a,
                    > .like-link {
                        border: 1px solid #cc7510;
                        background-color: transparent;
                    }
                }

                a,
                .like-link {
                    color: var(--White-Text, #f3f0ec);
                    font-family: Turbine, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.42;
                    margin: 0;
                    text-decoration: none;

                    @media screen and (max-width: 480px) {
                        font-size: 14px;
                        line-height: 1.2;
                    }
                }
            }
        }

        #menu-footer-menu-2 {
            li a {
                font-weight: 400;
            }
        }
    }

    &__right {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: max-content;

        @media screen and (max-width: 991px) {
            grid-column: 3 / 3;
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            grid-column: 1 / span 2;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
            text-align: center;
            padding: 32px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__login {
        margin-bottom: 8px;
        width: 100%;

        &.mobile {
            display: none;
        }

        @media screen and (max-width: 480px) {
            display: none;
            max-width: max-content;

            &.mobile {
                display: inline-block;
                width: auto;
            }
        }
    }

    &__social-title {
        margin-bottom: 8px;
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;

        @media screen and (max-width: 480px) {
            font-size: 14px;
            margin-bottom: 16px;
        }
    }

    &__social-links {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
        justify-content: center;

        @media screen and (max-width: 480px) {
            margin-bottom: 0;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #CC7510;
            text-decoration: none;
            transition: background-color 0.3s;

            &:hover {
                background-color: #CC7510;
            }
        }
    }

    &__talk,
    &__subscribe-btn {
        margin: 0;
        max-width: 185px;
        width: 100%;

        @media screen and (max-width: 480px) {
            font-size: 18px;
            max-width: 170px;
        }
    }

    &__subscribe-btn-wrap {
        width: 100%;
        margin-top: auto;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 768px) {
            margin-top: 16px;
        }
    }

    &__subscribe-btn {
        margin-top: auto;
        // text-transform: uppercase;
        display: flex;
        justify-content: center;
    }

    &__bottom {
        margin-top: 40px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 480px) {
            margin-top: 0;
            display: block;
            padding: 0;
        }
    }

    &__copyright {
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;


        @media screen and (max-width: 480px) {
            padding: 8px 0;
            font-size: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        span {
            font-weight: 700;
        }

        p {

            &:last-child {
                margin-bottom: 0;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }

    &__bottom-text {
        color: var(--White-Text, #f3f0ec);
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }

        a {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: 480px) {
            padding: 8px 0;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
