body {
    padding: 0;
    margin: 0;
    color: #46494d;
    background-color: #f5f5f5;
    font-family: Turbine, sans-serif;

    &.popup-opened {
        overflow: hidden;

        #wrapper {
            filter: blur(10px);
        }
    }

    * {
        box-sizing: border-box;
    }
}

* {
    box-sizing: border-box;
}

.custom-container {
    max-width: 1078px;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
        width: 1000px;
    }

    @media screen and (max-width: 992px) {
        width: 700px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 24px;
    }
}

svg {
    pointer-events: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#main-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.cover-bg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.responsive-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

p {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }

    @media screen and (max-width: 670px) {
        font-size: 12px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

iframe {
    max-width: 100%;
}

h1 {
    margin: 0;
}

li {
    color: #f3f0ec;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Turbine, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    list-style: none;
    margin-bottom: 0;
}

h2 {
    color: #17181a;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Turbine, sans-serif;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.51;
    margin-top: 0;
}

h3 {
    color: #2f3034;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Turbine, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.46;
    margin-top: 0;
    line-height: 1.15;

    @media screen and (max-width: 1024px) {
        font-size: 48px;
    }

    @media screen and (max-width: 768px) {
        font-size: 46px;
    }

    @media screen and (max-width: 670px) {
        font-size: 30px;
    }
}

h4 {
    color: #2f3034;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Turbine, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.46;
    margin-top: 0;
}

h5 {
    color: #46494d;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Turbine, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.26;
    margin-top: 0;
}

.blink-animation {
    animation: blink 1s infinite alternate-reverse;
}

@keyframes blink {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0.5;
        transform: scale(1.1, 1.1);
    }
}
