.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s;
    background-color: transparent;
    height: 70px;

    @media screen and (max-width: 768px) {
        height: 65px;
    }

    @media screen and (max-width: 480px) {
        height: 45px;
    }

    &__max-words {
        position: absolute;
        left: 0;
        width: 100vw;
        top: 100%;
        background-color: rgba(21, 24, 54, 0.9);
        padding: 80px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s;

        &.open {
            opacity: 1;
            pointer-events: auto;
        }

        &-wrap {
            display: grid;
            gap: 42px;
            grid-template-columns: repeat(4, minmax(100px, 1fr));

            .services__item {
                transition: all 0.3s;

                &:hover {
                    box-shadow: 0px 0px 34px 0px #aa6902;
                }
            }
        }
    }

    &__logo {
        img {
            max-width: 185px;
            height: auto;

            @media screen and (max-width: 768px) {
                width: 150px;
            }

            @media screen and (max-width: 480px) {
                width: 120px;
            }
        }
    }

    &__hamburger {
        display: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: auto;

        @media screen and (max-width: 992px) {
            display: block;
        }
    }

    &.scroll-header {
        background-color: #151836;

        .site-header__menu {
            .menu {
                display: flex;
            }
        }
    }

    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__menu {
        margin-left: auto;
        height: 100%;

        @media screen and (max-width: 992px) {
            display: none;
        }

        > ul {
            display: none;
            align-items: center;
            gap: 60px;
            padding: 0;
            margin: 0;
            height: 100%;

            li {
                position: relative;
                padding: 0;
                margin: 0;
                list-style: none;
                height: 100%;
                display: flex;
                align-items: center;

                > a {
                    transition: background-color 0.3s, border-color 0.3s;
                    border: 1px solid transparent;
                    padding: 4px 8px;

                    &:hover {
                        border: 1px solid #cc7510;
                        background-color: transparent;
                    }
                }

                &.menu-item-has-children {
                    .sub-menu {
                        display: none;
                    }

                    &.opened {
                        .sub-menu {
                            width: 140px;
                            background-color: #151836;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            gap: 24px;
                            padding: 16px;
                        }
                    }
                    @media (hover: hover) {
                        &:hover {
                            .sub-menu {
                                width: 140px;
                                background-color: #151836;
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                                gap: 24px;
                                padding: 16px;
                            }
                        }
                    }
                }

                a,
                span {
                    color: #f3f0ec;
                    font-family: Turbine, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__login {
        text-decoration: none;
        display: block;
        background-color: #5b8cab;
        padding: 0 24px;
        color: var(--White-Text, #f3f0ec);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.57;
        margin-left: 60px;
        transition: all 0.3s;

        @media screen and (min-width: 768px) {
            &:hover {
                background-color: #456d87;
            }
        }

        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -300%;
    background-color: #151836;
    z-index: 1000;
    text-align: center;
    transition: 0.4s;

    &.open {
        left: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        margin-bottom: 48px;
    }

    &__logo {
        img {
            width: 120px;
            height: auto;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;

        ul {
            padding: 0;

            li {
                margin-bottom: 48px;
                position: relative;
                text-align: center;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &.menu-item-has-children {
                    & > a {
                        &.open {
                            &:after {
                                transform: rotate(180deg);
                            }
                        }

                        &:after {
                            content: '';
                            top: 3px;
                            margin-left: 16px;
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOSAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBjbGlwLXBhdGg9InVybCgjY2xpcDBfNTI1XzI0NTk4KSI+PHBhdGggZD0iTTE4LjM1NTUgNC43OTA4NEMxOC4zNTU1IDQuNjM5NjcgMTguMjk1NyA0LjQ4NDk2IDE4LjE3OTcgNC4zNjg5NEMxNy45NDc3IDQuMTM2OTEgMTcuNTY4IDQuMTM2OTEgMTcuMzM1OSA0LjM2ODk0TDkuMzk0MTQgMTIuMzEwN0wxLjU2ODM2IDQuNDg0OTZDMS4zMzYzMyA0LjI1MjkzIDAuOTU2NjQxIDQuMjUyOTMgMC43MjQ2MDkgNC40ODQ5NkMwLjQ5MjU3OCA0LjcxNjk5IDAuNDkyNTc4IDUuMDk2NjggMC43MjQ2MDkgNS4zMjg3MUw4Ljk3MjI3IDEzLjU3OTlDOS4yMDQzIDEzLjgxMTkgOS41ODM5OCAxMy44MTE5IDkuODE2MDIgMTMuNTc5OUwxOC4xNzk3IDUuMjE2MjFDMTguMjk5MiA1LjA5NjY4IDE4LjM1NTUgNC45NDU1MyAxOC4zNTU1IDQuNzkwODRaIiBmaWxsPSIjRjNGMEVDIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDBfNTI1XzI0NTk4Ij48cmVjdCB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgLTEgMTguNSAxOCkiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=);
                        }
                    }
                }

                a,
                span {
                    color: #f3f0ec;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Turbine, sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.4;
                    text-decoration: none;
                }

                .sub-menu {
                    padding-left: 25px;
                    opacity: 0;
                    overflow: hidden;
                    max-height: 0;
                    transition: all 0.4s;

                    &.open {
                        max-height: 100vh;
                        padding-top: 16px;
                        opacity: 1;
                    }

                    li {
                        margin: 16px 0;
                        text-align: center;

                        a,
                        span {
                            color: #f3f0ec;
                            font-family: Turbine, sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    &__talk {
        padding: 0 8px;
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 24px;
        border: 1px solid #cc7510;
        display: inline-block;
        text-decoration: none;
    }

    &__login {
        background: #5b8cab;
        padding: 0 8px;
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        display: inline-block;
        text-decoration: none;
        border: none;
        appearance: none;

        @media screen and (min-width: 768px) {
            &:hover {
                background-color: #456d87;
            }
        }
    }
}
