html {
    position: relative;
    min-height: 100%;

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}


/* ********************** MODAL WINDOW ********************************/

.my_overlay {
    @include overlay('');
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    cursor: pointer;
    display: block;
}

.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;

    &__service {
        background-color: rgba(0, 0, 0, 0.8);

        &-inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            min-width: 100%;
            max-height: 100vh;
            overflow: auto;

            @media screen and (max-width: 992px) {
                gap: 20px;
            }

            @media screen and (max-width: 768px) {
                padding: 0 !important;
                display: flex;
                flex-direction: column-reverse;
                gap: 0;
            }
        }

        &-image {
            margin: 0;
            overflow: hidden;
            border-radius: 0 180px 180px 0;
            height: 130px;

            @media screen and (max-width: 768px) {
                border-radius: 100px 100px 0 0;
                height: 200px;
            }

            @media screen and (max-width: 480px) {
                height: 156px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {
            padding: 32px 0 40px;

            @media screen and (max-width: 768px) {
                padding: 24px;
            }

            &-wrap {
                padding-left: 78px;

                @media screen and (max-width: 480px) {
                    padding-left: 0;
                }
            }
        }

        &-icon {
            width: 61px;
            flex-shrink: 0;

            @media screen and (max-width: 480px) {
                width: 30px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &-right {
            width: 100%;
        }

        &-title {
            color: #F3F0EC;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.26;
            margin-bottom: 5px;

            @media screen and (max-width: 992px) {
                font-size: 25px;
            }

            @media screen and (max-width: 768px) {
                font-size: 20px;
            }

            @media screen and (max-width: 480px) {
                font-size: 16px;
            }

            &-wrap {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: 16px;

                @media screen and (max-width: 480px) {
                    gap: 8px;
                }
            }
        }

        &-subtitle {
            color: #F3F0EC;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3;
            margin: 0;

            @media screen and (max-width: 992px) {
                font-size: 18px;
            }

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            @media screen and (max-width: 480px) {
                font-size: 12px;
            }
        }

        &-text {
            p {
                color: #FFF;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Turbine, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.42;
                margin-bottom: 24px;

                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }

            ul {
                padding: 0;
                margin-bottom: 24px;

                li {
                    color: #F3F0EC;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Turbine, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    list-style: none;
                    margin-bottom: 0;
                    padding-left: 15px;

                    @media screen and (max-width: 768px) {
                        font-size: 14px;

                        br {
                            display: none;
                        }
                    }

                    &:before {
                        content: "☑";
                        font-size: 18px;
                        position: absolute;
                        left: 0;
                        top: -1px;
                        color: #CC7510;
                    }
                }
            }


        }

        &-link {
            display: inline-block;
            color: #CC7510;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.57;
            background-color: #17181A;
            padding: 0 8px;
            text-decoration: none;
            transition: 0.3s;

            @media screen and (min-width: 768px) {
                &:hover {
                    background-color: #43464c;
                }
            }


            @media screen and (max-width: 768px) {
                font-size: 12px;
            }

            @media screen and (max-width: 480px) {
                font-size: 10px;
                line-height: 1.6;
            }
        }
    }

    &__wrapper-inner {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__btn-close {
        position: absolute;
        top: 20px;
        right: 20px;

        svg {
            pointer-events: none;

            @media screen and (max-width: 480px) {
                width: 12px;
                height: 12px;
            }
        }
    }
}
