html {
    position: relative;
    min-height: 100%;

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}


/* ********************** MODAL WINDOW ********************************/

.my_overlay {
    @include overlay('');
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    cursor: pointer;
    display: block;
}

.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;

    &__wrapper-inner {
        position: relative;
        z-index: 2;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);

        @include max-break('1024px') {
            max-width: 100vw;
            padding: 0 16px;
        }

        @include max-break('414px') {
            max-width: 100vw;
            padding: 42px 16px;
            left: 0;
            top: 0;
            transform: none;
        }
    }

    &__btn-close {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAzNCAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNyIgY3k9IjE3IiByPSIxNyIgZmlsbD0iIzkyNzhGQiIvPjxsaW5lIHkxPSItMS4wMjI3MyIgeDI9IjE1LjcwODciIHkyPSItMS4wMjI3MyIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MTAwMDMgMC43MDQxOTkgLTAuNzEwMDAzIDAuNzA0MTk5IDEwLjkyMzggMTIuNTM1NSkiIHN0cm9rZT0iI0ZGRkNFRCIgc3Ryb2tlLXdpZHRoPSIyLjA0NTQ1Ii8+PHBhdGggZD0iTTIyLjA3NjIgMTJMMTAuOTIyOSAyMy4wNjIxIiBzdHJva2U9IiNGRkZDRUQiIHN0cm9rZS13aWR0aD0iMi4wNDU0NSIvPjwvc3ZnPg==) center center no-repeat;
        text-indent: -9999px;
        background-size: 32px auto;
        border: none;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 0;
        z-index: 10;
        cursor: pointer;

        @include max-break('414px') {
            top: 18px;
            right: 18px;
        }
    }
}
