body {
    @extend %paragraph;
    @include custom-scrollbar;
    @include media-breakpoint-down(lg) {

    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {

}

@include make-responsive-headers();

[class^="icon-"]:before, [class*=" icon-"]:before {
    margin: 0;
}

.font-weight-bold, strong, b {
    font-weight: bold;
}

.font-weight-semi-bold {
    font-weight: 600;
}


.font-weight-medium {
    font-weight: 500;
}


a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.color-white {
    color: $--greys-white;
}

.color-grey {
    color: $--greys-light;
}

.color-black {
    color: $--greys-black;
}

.color-brand {
    color: $--primary-main-purple;
}


.font-primary {
    font-family: $font-primary;
}

.font-secondary {
    font-family: $font-secondary;
}

.bg-white {
    background-color: $--greys-white;
}
