// Font-family
$font-primary: sans-serif;
$font-secondary: serif;

// Colors
$--primary-main-purple: #7939FF;
$--primary-dark-blue: #2A1D7A;

$--greys-white: #FFFFFF;
$--greys-light: #F2F0F4;
$--greys-dark: #575264;
$--greys-black: #000000;

$--system-error-red: #EE5843;
$--system-success-green: #22B98C;

// Width sizes
$fluid_max_width: 1440px;
