/wp-admin/
/wp-includes/
/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/themes/wp-rock/node_modules/
/wp-content/themes/wp-rock/yarn.lock
/wp-content/ai1wm-backups/
/wp-content/uploads/
/wp-content/themes/wp-rock/vendor
/phpmyadmin/
/wp-content/backups-dup-lite/
/wp-content/deployment-folder/
.idea/
vendor/
/wp-content/litespeed/
/wp-content/backups-dup-pro/.htaccess
/wp-content/backups-dup-pro/index.php
/wp-content/backups-dup-pro/robots.txt
/.htaccess.bk
/wp-content/backups-dup-pro
.DS_Store
/wp-content/deployment-folder/
/wp-content/themes/wp-rock/assets/public/css/*.css.map
/wp-content/themes/wp-rock/assets/public/js/*.js.map
