@import 'parts/fonts';
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&family=Schibsted+Grotesk:wght@400;600;700&display=swap');

html :where(.wp-block) {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.block-editor-block-list__layout {
    overflow: hidden;
}

.block-editor-block-list__layout .block-editor-block-list__block {
    position: initial;
}
.block-editor-block-list__layout .block-editor-block-list__block {
    margin-bottom: 50px;
}

.acf-block-preview {
    @import 'parts/normalize';
    @import 'bootstrap/bootstrap';
    @import 'parts/mixin';
    @import 'parts/fonts';
    @import 'parts/variables';
    @import 'parts/global';
    @import 'parts/typography';
    @import 'parts/button';
    font-family: $font-primary;
    color: $--greys-dark;
    font-size: 16px;
    line-height: 117.5%;
    font-weight: normal;
    font-style: normal;
    min-width: 1200px;
    
    * {
        box-sizing: border-box;
    }
}

.is-focus-mode .block-editor-block-list__block:not(.has-child-selected) {
    opacity: 1;
    transition: opacity .1s linear;
}
