.burger-menu {
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #1E0202;
    transition: all .5s ease;
    padding-top: 95px;
    padding-bottom: 50px;
    overflow-y: scroll;

    &__container {

    }

    &__wrapper {
        //overflow-y: scroll;
    }

    &__menu-wrapper {

    }

    &__menu {
        .menu-item {
            border-bottom: 0.5px solid #F2F1ED;

            a,
            .like-link {
                display: inline-flex;
                color: #F2F1ED;
                font-family: $Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;
                padding-top: 28px;
                padding-bottom: 28px;
            }
        }
    }

    &__btn-1 {
        margin-top: 28px;
        margin-bottom: 20px;
    }

    &__btn-2 {

    }
}

body.opened-burger-menu {
    position: relative;
    z-index: 1;

    .burger-menu {
        opacity: 1;
        pointer-events: auto;
    }
}
