/* stylelint-disable */

@font-face {
    font-family: 'Simpler';
    src: url('./../fonts/Simpler-Black.eot');
    src: url('./../fonts/Simpler-Black.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/Simpler-Black.woff2') format('woff2'),
    url('./../fonts/Simpler-Black.woff') format('woff'),
    url('./../fonts/Simpler-Black.ttf') format('truetype'),
    url('./../fonts/Simpler-Black.svg#Simpler-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simpler';
    src: url('./../fonts/Simpler-Light.eot');
    src: url('./../fonts/Simpler-Light.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/Simpler-Light.woff2') format('woff2'),
    url('./../fonts/Simpler-Light.woff') format('woff'),
    url('./../fonts/Simpler-Light.ttf') format('truetype'),
    url('./../fonts/Simpler-Light.svg#Simpler-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simpler';
    src: url('./../fonts/Simpler-Bold.eot');
    src: url('./../fonts/Simpler-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/Simpler-Bold.woff2') format('woff2'),
    url('./../fonts/Simpler-Bold.woff') format('woff'),
    url('./../fonts/Simpler-Bold.ttf') format('truetype'),
    url('./../fonts/Simpler-Bold.svg#Simpler-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simpler';
    src: url('./../fonts/Simpler-Regular.eot');
    src: url('./../fonts/Simpler-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/Simpler-Regular.woff2') format('woff2'),
    url('./../fonts/Simpler-Regular.woff') format('woff'),
    url('./../fonts/Simpler-Regular.ttf') format('truetype'),
    url('./../fonts/Simpler-Regular.svg#Simpler-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Condensed';
    src: url('./../fonts/PPFormula-CondensedExtralight.eot');
    src: url('./../fonts/PPFormula-CondensedExtralight.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-CondensedExtralight.woff2') format('woff2'),
    url('./../fonts/PPFormula-CondensedExtralight.woff') format('woff'),
    url('./../fonts/PPFormula-CondensedExtralight.ttf') format('truetype'),
    url('./../fonts/PPFormula-CondensedExtralight.svg#PPFormula-CondensedExtralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Extended';
    src: url('./../fonts/PPFormula-ExtendedBold.eot');
    src: url('./../fonts/PPFormula-ExtendedBold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-ExtendedBold.woff2') format('woff2'),
    url('./../fonts/PPFormula-ExtendedBold.woff') format('woff'),
    url('./../fonts/PPFormula-ExtendedBold.ttf') format('truetype'),
    url('./../fonts/PPFormula-ExtendedBold.svg#PPFormula-ExtendedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Extended';
    src: url('./../fonts/PPFormula-ExtendedMedium.eot');
    src: url('./../fonts/PPFormula-ExtendedMedium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-ExtendedMedium.woff2') format('woff2'),
    url('./../fonts/PPFormula-ExtendedMedium.woff') format('woff'),
    url('./../fonts/PPFormula-ExtendedMedium.ttf') format('truetype'),
    url('./../fonts/PPFormula-ExtendedMedium.svg#PPFormula-ExtendedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Condensed';
    src: url('./../fonts/PPFormula-CondensedLightItalic.eot');
    src: url('./../fonts/PPFormula-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-CondensedLightItalic.woff2') format('woff2'),
    url('./../fonts/PPFormula-CondensedLightItalic.woff') format('woff'),
    url('./../fonts/PPFormula-CondensedLightItalic.ttf') format('truetype'),
    url('./../fonts/PPFormula-CondensedLightItalic.svg#PPFormula-CondensedLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula';
    src: url('./../fonts/PPFormula-Extrabold.eot');
    src: url('./../fonts/PPFormula-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-Extrabold.woff2') format('woff2'),
    url('./../fonts/PPFormula-Extrabold.woff') format('woff'),
    url('./../fonts/PPFormula-Extrabold.ttf') format('truetype'),
    url('./../fonts/PPFormula-Extrabold.svg#PPFormula-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Compressed';
    src: url('./../fonts/PPFormula-CondensedBlack.eot');
    src: url('./../fonts/PPFormula-CondensedBlack.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-CondensedBlack.woff2') format('woff2'),
    url('./../fonts/PPFormula-CondensedBlack.woff') format('woff'),
    url('./../fonts/PPFormula-CondensedBlack.ttf') format('truetype'),
    url('./../fonts/PPFormula-CondensedBlack.svg#PPFormula-CondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula';
    src: url('./../fonts/PPFormula-Light.eot');
    src: url('./../fonts/PPFormula-Light.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-Light.woff2') format('woff2'),
    url('./../fonts/PPFormula-Light.woff') format('woff'),
    url('./../fonts/PPFormula-Light.ttf') format('truetype'),
    url('./../fonts/PPFormula-Light.svg#PPFormula-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula';
    src: url('./../fonts/PPFormula-MediumItalic.eot');
    src: url('./../fonts/PPFormula-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-MediumItalic.woff2') format('woff2'),
    url('./../fonts/PPFormula-MediumItalic.woff') format('woff'),
    url('./../fonts/PPFormula-MediumItalic.ttf') format('truetype'),
    url('./../fonts/PPFormula-MediumItalic.svg#PPFormula-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Semi Cond Exlight';
    src: url('./../fonts/PPFormula-SemiCondensedExtralight.eot');
    src: url('./../fonts/PPFormula-SemiCondensedExtralight.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-SemiCondensedExtralight.woff2') format('woff2'),
    url('./../fonts/PPFormula-SemiCondensedExtralight.woff') format('woff'),
    url('./../fonts/PPFormula-SemiCondensedExtralight.ttf') format('truetype'),
    url('./../fonts/PPFormula-SemiCondensedExtralight.svg#PPFormula-SemiCondensedExtralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Narrow';
    src: url('./../fonts/PPFormula-NarrowSemibold.eot');
    src: url('./../fonts/PPFormula-NarrowSemibold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-NarrowSemibold.woff2') format('woff2'),
    url('./../fonts/PPFormula-NarrowSemibold.woff') format('woff'),
    url('./../fonts/PPFormula-NarrowSemibold.ttf') format('truetype'),
    url('./../fonts/PPFormula-NarrowSemibold.svg#PPFormula-NarrowSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Narrow';
    src: url('./../fonts/PPFormula-NarrowRegular.eot');
    src: url('./../fonts/PPFormula-NarrowRegular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-NarrowRegular.woff2') format('woff2'),
    url('./../fonts/PPFormula-NarrowRegular.woff') format('woff'),
    url('./../fonts/PPFormula-NarrowRegular.ttf') format('truetype'),
    url('./../fonts/PPFormula-NarrowRegular.svg#PPFormula-NarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Semi Condensed';
    src: url('./../fonts/PPFormula-SemiCondensedThin.eot');
    src: url('./../fonts/PPFormula-SemiCondensedThin.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-SemiCondensedThin.woff2') format('woff2'),
    url('./../fonts/PPFormula-SemiCondensedThin.woff') format('woff'),
    url('./../fonts/PPFormula-SemiCondensedThin.ttf') format('truetype'),
    url('./../fonts/PPFormula-SemiCondensedThin.svg#PPFormula-SemiCondensedThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Semi Cond';
    src: url('./../fonts/PPFormula-SemiCondensedMedium.eot');
    src: url('./../fonts/PPFormula-SemiCondensedMedium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-SemiCondensedMedium.woff2') format('woff2'),
    url('./../fonts/PPFormula-SemiCondensedMedium.woff') format('woff'),
    url('./../fonts/PPFormula-SemiCondensedMedium.ttf') format('truetype'),
    url('./../fonts/PPFormula-SemiCondensedMedium.svg#PPFormula-SemiCondensedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Semi Cond Exlight';
    src: url('./../fonts/PPFormula-SemiCondensedExtralightItalic.eot');
    src: url('./../fonts/PPFormula-SemiCondensedExtralightItalic.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-SemiCondensedExtralightItalic.woff2') format('woff2'),
    url('./../fonts/PPFormula-SemiCondensedExtralightItalic.woff') format('woff'),
    url('./../fonts/PPFormula-SemiCondensedExtralightItalic.ttf') format('truetype'),
    url('./../fonts/PPFormula-SemiCondensedExtralightItalic.svg#PPFormula-SemiCondensedExtralightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula';
    src: url('./../fonts/PPFormula-Medium.eot');
    src: url('./../fonts/PPFormula-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-Medium.woff2') format('woff2'),
    url('./../fonts/PPFormula-Medium.woff') format('woff'),
    url('./../fonts/PPFormula-Medium.ttf') format('truetype'),
    url('./../fonts/PPFormula-Medium.svg#PPFormula-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Formula Semi Extended';
    src: url('./../fonts/PPFormula-SemiExtendedBold.eot');
    src: url('./../fonts/PPFormula-SemiExtendedBold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PPFormula-SemiExtendedBold.woff2') format('woff2'),
    url('./../fonts/PPFormula-SemiExtendedBold.woff') format('woff'),
    url('./../fonts/PPFormula-SemiExtendedBold.ttf') format('truetype'),
    url('./../fonts/PPFormula-SemiExtendedBold.svg#PPFormula-SemiExtendedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('./../fonts/SharpSansDisplayNo1TRIAL-Semibold.eot');
    src: url('./../fonts/SharpSansDisplayNo1TRIAL-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Semibold.woff2') format('woff2'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Semibold.woff') format('woff'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Semibold.ttf') format('truetype'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Semibold.svg#SharpSansDisplayNo1TRIAL-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('./../fonts/SharpSansDisplayNo1TRIAL-Medium.eot');
    src: url('./../fonts/SharpSansDisplayNo1TRIAL-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Medium.woff2') format('woff2'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Medium.woff') format('woff'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Medium.ttf') format('truetype'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Medium.svg#SharpSansDisplayNo1TRIAL-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url('./../fonts/SharpSansDisplayNo1TRIAL-Bold.eot');
    src: url('./../fonts/SharpSansDisplayNo1TRIAL-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Bold.woff2') format('woff2'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Bold.woff') format('woff'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Bold.ttf') format('truetype'),
    url('./../fonts/SharpSansDisplayNo1TRIAL-Bold.svg#SharpSansDisplayNo1TRIAL-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Medium.eot');
    src: url('./../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/Poppins-Medium.woff2') format('woff2'),
    url('./../fonts/Poppins-Medium.woff') format('woff'),
    url('./../fonts/Poppins-Medium.ttf') format('truetype'),
    url('./../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.eot');
    src: url('./../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/Poppins-Regular.woff2') format('woff2'),
    url('./../fonts/Poppins-Regular.woff') format('woff'),
    url('./../fonts/Poppins-Regular.ttf') format('truetype'),
    url('./../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$Sharp_Sans: 'Sharp Sans', sans-serif;
$Simpler: 'Simpler', sans-serif;
$Rag: 'Rag', sans-serif;
$PP_Formula: 'PP Formula', sans-serif;
$PP_Formula_Extended: 'PP Formula Extended', sans-serif;
$PP_Formula_Compressed: 'PP Formula Compressed', sans-serif;
$PP_Formula_Condensed: 'PP Formula Condensed', sans-serif;
$PP_Formula_Semi: 'PP Formula Semi Extended', sans-serif;
$PP_Formula_Semi_Cond: 'PP Formula Semi Cond Exlight', sans-serif;
$PP_Formula_Narrow: 'PP Formula Narrow', sans-serif;
$Poppins: 'Poppins', sans-serif;

/* stylelint-enable */
