%heading {
    font-family: $PP_Formula;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

%paragraph {
    color: #1E0202;
    font-family: $Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.37;

    @include max-break('480px') {
        font-size: 14px;
    }
}

h1 {
    @extend %heading;
    font-size: 75px;
    font-style: normal;
    line-height: 1.2;

    @include min-break('1024px') {
        font-size: 65px;
    }
}

h2 {
    @extend %heading;
    font-size: 60px;
    line-height: 1.16;

    @include max-break('1199px') {
        font-size: 50px;
    }

    @include max-break('1024px') {
        font-size: 40px;
    }

    @include max-break('570px') {
        font-size: 34px;
    }
}

h3 {
    @extend %heading;
    font-size: 45px;
    line-height: 1.11;

    @include max-break('1030px') {
        font-size: 40px;
    }

    @include max-break('850px') {
        font-size: 32px;
    }

    @include max-break('570px') {
        font-size: 26px;
    }
}

h4 {
    @extend %heading;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.28;

    @include max-break('1199px') {
        font-size: 30px;
    }

    @include max-break('1024px') {
        font-size: 26px;
    }

    @include max-break('850px') {
        font-size: 22px;
    }
}

h5 {
    @extend %heading;
    font-size: 25px;

    @include max-break('1024px') {
        font-size: 22px;
    }

    @include max-break('480px') {
        font-size: 18px;
        line-height: 1.33;
    }
}

h6 {
    @extend %heading;
    font-size: 21px;
}

p {
    @extend %paragraph;
}

.h2-js {
    @extend %heading;
    line-height: 1.16;
}

.h6-js {
    @extend %heading;
    font-weight: 400;
    line-height: 1.28;
}

.subtitle2-js {
    @extend %heading;
    font-weight: 400;
    line-height: 1.4;
}



.text1-js {
    @extend %paragraph;
    line-height: 1.33;
}

.h6-scaled-js {
    @extend %heading;
    font-weight: 400;
    line-height: 1.28;
}
