/* stylelint-disable */
.services {
    padding: 100px 0 70px;
    clear: both;

    &__title {
        color: #17181A;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 66px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.51;
        margin-bottom: 8px;
        text-align: center;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        color: #2F3034;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 52px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.46;
        margin-bottom: 8px;
        text-align: center;
    }

    &__text {
        color: #46494D;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.26;
        margin-bottom: 57px;
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        gap: 42px;
        margin-bottom: 86px;
    }

    &__item {
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 90px;
        overflow: hidden;
        text-decoration: none;

        & * {
            pointer-events: none;
        }

        &-icon {
            height: 63px;
            width: 63px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }

        &-title {
            color: #F3F0EC;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            margin: 0;
        }

        &-desc {
            color: #F3F0EC;
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.33;
            margin-bottom: 8px;
        }

        &-button {
            margin-top: auto;
            color: var(--Orange, #CC7510);
            font-family: Turbine, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            width: 100%;
            height: 32px;
            border: none;
            position: relative;

            span {
                position: relative;
                z-index: 2;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 95px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 200px 200px 0px 0px;
                background: #17181A;
            }
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 42px;
        align-items: center;

        &-title {
            color: #17181A;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 52px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.46;
            margin: 0;

            p {
                color: inherit;
                font-feature-settings: inherit;
                font-family: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-align: inherit;
                margin: inherit;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }

        &-content {
            color: #2F3034;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin: 0;
            line-height: 1.30;
        }
    }

}
/* stylelint-enable */
