/* stylelint-disable */
.image-text {
	background-color: #CC7510;
	padding: 56px 0;
	clear: both;

	@media screen and (max-width: 768px) {
		padding: 40px 0;
	}

	&__title {
		font-size: 66px;
		font-weight: 700;
		line-height: 1.32;
		text-align: center;
		color: #F3F0EC;
        margin-bottom: 10px;

		@media screen and (max-width: 991px) {
			font-size: 40px;
		}
		@media screen and (max-width: 767px) {
			font-size: 26px;
		}

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
	}

	&__inner {
		display: flex;
		align-items: center;
		gap: 165px;

		@media screen and (max-width: 1200px) {
			gap: 40px;
		}

		@media screen and (max-width: 768px) {
			gap: 20px;
		}
	}

	&__image {
		max-width: 290px;
		width: 100%;
		margin: 0;

		@media screen and (max-width: 768px) {
			min-width: 80px;
			width: 80px;
		}

		img {
			max-width: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__text {
		* {
			color: #fff;
		}
	}
}
/* stylelint-enable */
