@keyframes zoomIn {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 120% 120%;
    }
}


.service-top {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: zoomIn 15s linear infinite;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(23, 24, 26, 0.4);
    }

    &.icon-is-missing {
        .service-top {
            &__custom-container {
                width: 100%;
                padding-top: 224px;
                padding-bottom: 160px;

                @media screen and (max-width: 1600px) {
                    padding-bottom: 140px;
                    padding-top: 170px;
                }

                @media screen and (max-width: 1199px) {
                    padding-bottom: 115px;
                    padding-top: 140px;
                }

                @media screen and (max-width: 1030px) {
                    width: calc(100% - 30px);
                    padding-bottom: 100px;
                    padding-top: 120px;
                }

                @media screen and (max-width: 992px) {
                    width: 700px;
                }

                @media screen and (max-width: 850px) {
                    padding-bottom: 70px;
                    padding-top: 110px;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 75px 24px 54px;
                }
            }
        }
    }

    &__video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        & + .service-top {
            &__custom-container {
                padding-bottom: 388px;

                @media screen and (max-width: 1600px) {
                    padding-bottom: 255px;
                }

                @media screen and (max-width: 1470px) {
                    padding-bottom: 185px;
                }

                @media screen and (max-width: 768px) {
                    padding-bottom: 175px;
                }

                @media screen and (max-width: 570px) {
                    padding-bottom: 70px;
                }
            }
        }
    }

    &__custom-container {
        position: relative;
        z-index: 2;
        padding-top: 200px;
        padding-bottom: 264px;

        @media screen and (max-width: 1200px) {
            padding-top: 140px;
            padding-bottom: 200px;
        }

        @media screen and (max-width: 768px) {
            padding-top: 70px;
            padding-bottom: 150px;
        }

        @media screen and (max-width: 570px) {
            padding-top: 100px;
            padding-bottom: 70px;
        }
    }

    &.black-content {

        &:before {
            display: none;
        }

        .service-top {
            &__title,
            &__subtitle {
                color: #000;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        gap: 32px;
        margin-bottom: 0;

        @media screen and (max-width: 1200px) {
            font-size: 46px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 36px;
        }

        @media screen and (max-width: 768px) {
            font-size: 24px;
        }

        @media screen and (max-width: 570px) {
            gap: 16px;
        }

        &.icon-is-missing {
            margin-bottom: 32px;
            font-size: 80px;
            font-weight: 300;
            line-height: 1.37;
            max-width: 980px;

            @media screen and (max-width: 1540px) {
                font-size: 68px;
                max-width: 830px;
            }

            @media screen and (max-width: 1280px) {
                margin-bottom: 20px;
            }

            @media screen and (max-width: 1030px) {
                font-size: 52px;
                max-width: 625px;
            }

            @media screen and (max-width: 850px) {
                font-size: 50px;
                max-width: 600px;
                margin-bottom: 16px;
            }

            @media screen and (max-width: 670px) {
                font-size: 40px;
                max-width: 500px;
            }

            @media screen and (max-width: 570px) {
                font-size: 36px;
                max-width: 440px;
            }

            @media screen and (max-width: 480px) {
                font-size: 24px;
                line-height: 1.16;
                max-width: 290px;
            }
        }

        img {
            @media screen and (max-width: 570px) {
                width: 56px;
                height: 56px;
            }
        }
    }

    &__subtitle {
        font-weight: 300;
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 52px;
        font-style: normal;
        padding-left: 150px;
        margin-bottom: 0;

        @media screen and (max-width: 1200px) {
            font-size: 46px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 36px;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }

        @media screen and (max-width: 570px) {
            padding-left: 74px;
        }

        &.icon-is-missing {
            padding-left: 0;
            font-size: 30px;
            font-weight: 300;
            line-height: 1.26;
            max-width: 780px;

            @media screen and (max-width: 1600px) {
                font-size: 26px;
            }

            @media screen and (max-width: 1540px) {
                font-size: 24px;
            }

            @media screen and (max-width: 1540px) {
                font-size: 24px;
            }

            @media screen and (max-width: 1370px) {
                max-width: 650px;
            }

            @media screen and (max-width: 1280px) {
                font-size: 22px;
                max-width: 550px;
            }

            @media screen and (max-width: 1199px) {
                font-size: 20px;
            }

            @media screen and (max-width: 1030px) {
                font-size: 18px;
                max-width: 485px;
            }

            @media screen and (max-width: 991px) {
                font-size: 16px;
                max-width: 435px;
            }

            @media screen and (max-width: 850px) {
                font-size: 14px;
                max-width: 380px;
            }

            @media screen and (max-width: 670px) {
                font-size: 12px;
                max-width: 325px;
            }

            @media screen and (max-width: 480px) {
                font-size: 10px;
                line-height: 1.4;
                max-width: 270px;
            }
        }
    }

    &__scroll-bottom {
        margin: 0 auto 20px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 570px) {
            margin: 0 auto 8px;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }

        svg {
            @media screen and (max-width: 768px) {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.about-us-page.service-top {
    .service-top__custom-container {
        width: 100%;

        @media screen and (max-width: 1200px) {
            padding-left: 64px;
        }

        @media screen and (max-width: 470px) {
            padding-top: 102px;
            padding-bottom: 75px;
        }
    }

    .service-top__title {
        font-size: 80px;
        font-weight: 300;
        line-height: 1.3;

        @media screen and (max-width: 1540px) {
            font-size: 68px;
        }

        @media screen and (max-width: 768px) {
            font-size: 56px;
        }

        @media screen and (max-width: 670px) {
            font-size: 48px;
        }

        @media screen and (max-width: 570px) {
            font-size: 36px;
        }

        @media screen and (max-width: 470px) {
            font-size: 24px;
            line-height: 1.1;
        }
    }
}

.no-icon-page.service-top {
    .service-top__custom-container {
        width: 100%;

        @media screen and (max-width: 1200px) {
            padding-left: 64px;
        }

        @media screen and (max-width: 768px) {
            padding-top: 90px;
            padding-bottom: 80px;
        }
    }

    .service-top__title {
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.3;

        @media screen and (max-width: 1024px) {
            font-size: 68px;
        }

        @media screen and (max-width: 768px) {
            font-size: 56px;
        }

        @media screen and (max-width: 670px) {
            font-size: 48px;
        }

        @media screen and (max-width: 570px) {
            font-size: 36px;
        }

        @media screen and (max-width: 470px) {
            font-size: 24px;
            line-height: 1.1;
        }
    }
}
