.text-repeater {
    padding: 40px 0 45px;

    @media screen and (max-width: 768px) {
        padding: 35px 0;
    }

    @media screen and (max-width: 480px) {
        padding: 32px 0;
    }

    &__title {
        color: var(--White-Text, #F3F0EC);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.45;
        margin-bottom: 48px;
        text-align: center;

        @media screen and (max-width: 1024px) {
            font-size: 45px;
            margin-bottom: 45px;
        }

        @media screen and (max-width: 992px) {
            font-size: 40px;
            margin-bottom: 35px;
        }

        @media screen and (max-width: 768px) {
            font-size: 35px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 480px) {
            font-size: 32px;
            margin-bottom: 24px;
            line-height: 1.2;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 24px 41px;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }
    }

    &__item-title {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        color: var(--White-Text, #F3F0EC);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.26;
        margin-bottom: 8px;

        @media screen and (max-width: 992px) {
            font-size: 25px;
        }

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }

        @media screen and (max-width: 480px) {
            font-size: 16px;
            line-height: 1.12;
            margin-bottom: 4px;
        }

        svg {
            position: relative;
            top: 8px;
            flex-shrink: 0;

            @media screen and (max-width: 992px) {
                top: 5px;
            }

            @media screen and (max-width: 768px) {
                top: 2px;
            }

            @media screen and (max-width: 480px) {
                top: 0;
                width: 19px;
                height: 19px;
            }

            &.default {
                display: block;
            }

            &.active {
                display: none;
            }
        }

        @media screen and (min-width: 769px) {
            &:hover {
                &+p.text-repeater__item-description {
                    opacity: 1;
                    max-height: 100vh;
                }

                svg {

                    &.default {
                        display: none;
                    }

                    &.active {
                        display: block;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            &.open {
                svg {

                    &.default {
                        display: none;
                    }

                    &.active {
                        display: block;
                    }
                }
            }
        }
    }

    &__item-description {
        color:  #F3F0EC;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42;
        padding-left: 30px;
        margin: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.3s;

        @media screen and (max-width: 768px) {
            font-size: 12px;

            &.open {
                opacity: 1;
                max-height: 100vh;
            }
        }

        @media screen and (max-width: 480px) {
            font-size: 10px;
            line-height: 1.2;
        }
    }
}
