.experts {
    padding: 40px 0;
    background-color: #151836;
    clear: both;

    &__title {
        color: #f3f0ec;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.45;
        margin-bottom: 48px;
        text-align: left;
        margin-left: 600px;

        @media screen and (max-width: 1470px) {
            margin-left: 470px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 40px;
            margin-bottom: 45px;
        }

        @media screen and (max-width: 992px) {
            font-size: 35px;
            margin-bottom: 40px;
            text-align: center;
            margin-left: 0;
        }

        @media screen and (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 35px;
        }

        @media screen and (max-width: 480px) {
            font-size: 24px;
            line-height: 1.16;
            margin-bottom: 32px;
        }

        p {
            color: inherit;
            font-feature-settings: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            text-align: inherit;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }

    &__swiper {
        position: relative;
        max-width: 1080px;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        transition: opacity 0.3s;

        @media screen and (max-width: 992px) {
            top: 130px;
            transform: none;
        }

        @media screen and (max-width: 768px) {
            top: 105px;
        }

        @media screen and (max-width: 480px) {
            top: 70px;
        }

        svg {
            pointer-events: none;

            @media screen and (max-width: 480px) {
                width: 35px;
                height: auto;
            }
        }

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    &__slide {
        padding: 0 90px;
        display: flex;
        gap: 42px;

        @media screen and (max-width: 992px) {
            flex-direction: column;
            gap: 32px;
        }

        @media screen and (max-width: 480px) {
            padding: 0;
        }

        &-left {
            width: 332px;
            flex-shrink: 0;

            @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
        }

        &-right {
            width: 100%;
            max-width: 438px;

            @media screen and (max-width: 992px) {
                max-width: unset;
            }
        }

        &-avatar {
            width: 320px;
            height: 320px;
            clip-path: url(#svg-clip-320);
            background-color: var(--var-color);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;

            @media screen and (max-width: 992px) {
                margin-bottom: 23px;
            }

            @media screen and (max-width: 768px) {
                width: 250px;
                height: 250px;
                clip-path: url(#svg-clip-250);
                background-color: var(--var-color-mobile);
            }

            @media screen and (max-width: 480px) {
                width: 171px;
                height: 171px;
                clip-path: url(#svg-clip-171);
            }

            img {
                width: 232px;
                height: 232px;
                clip-path: url(#svg-clip-232);
                object-fit: cover;

                @media screen and (max-width: 768px) {
                    clip-path: url(#svg-clip-180);
                    width: 180px;
                    height: 180px;
                }

                @media screen and (max-width: 480px) {
                    clip-path: url(#svg-clip-120);
                    width: 119px;
                    height: 119px;
                }
            }
        }

        &-name,
        &-position,
        &-direction,
        &-date,
        &-example {
            p {
                color: inherit;
                font-feature-settings: inherit;
                font-family: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-align: inherit;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }

        &-name {
            color: #f3f0ec;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.33;
            margin: 0;
            text-align: center;

            @media screen and (max-width: 992px) {
                font-size: 16px;
            }

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 480px) {
                font-size: 12px;
                line-height: 1.16;
            }
        }

        &-position {
            color: #f3f0ec;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.42;
            margin: 0;
            text-align: center;

            @media screen and (max-width: 992px) {
                font-size: 16px;
            }

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }

            @media screen and (max-width: 480px) {
                font-size: 12px;
                line-height: 1.16;
            }
        }

        &-direction {
            color: #f3f0ec;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.6;

            @media screen and (max-width: 480px) {
                font-size: 18px;
                line-height: 1.2;
            }

            p {
                margin-bottom: 0;
            }

            &-wrap {
                display: flex;
                gap: 11px;
                align-items: center;
                margin-bottom: 16px;

                img {
                    max-width: 66px;
                    height: auto;

                    @media screen and (max-width: 992px) {
                        max-width: 60px;
                    }

                    @media screen and (max-width: 768px) {
                        max-width: 55px;
                    }

                    @media screen and (max-width: 480px) {
                        max-width: 42px;
                    }
                }
            }
        }

        &-description {
            color: #f3f0ec;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.26;
            margin-bottom: 16px;

            @media screen and (max-width: 992px) {
                font-size: 28px;
            }

            @media screen and (max-width: 768px) {
                font-size: 26px;
            }

            @media screen and (max-width: 480px) {
                font-size: 24px;
                line-height: 1.16;
                max-width: 310px;
            }

            p {
                color: inherit;
                font-feature-settings: inherit;
                font-family: inherit;
                font-style: inherit;
                text-align: inherit;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }

        &-date {
            color: #f3f0ec;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.42;
            margin-bottom: 24px;

            @media screen and (max-width: 480px) {
                font-size: 12px;
                line-height: 1.16;
                margin-bottom: 16px;
            }
        }

        &-example {
            color: #f3f0ec;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.33;
            margin-bottom: 32px;

            @media screen and (max-width: 992px) {
                font-size: 16px;
            }

            @media screen and (max-width: 768px) {
                font-size: 14px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 480px) {
                font-size: 12px;
                line-height: 1.16;
                margin-bottom: 24px;
                padding-right: 36px;
            }

            @media screen and (max-width: 320px) {
                padding-right: 0;
            }
        }

        &-link {
            @media screen and (max-width: 992px) {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            @media screen and (max-width: 480px) {
                font-size: 13px;
            }
        }
    }
}
