.knowledge {
    padding: 40px 0 64px;
    clear: both;

    @media screen and (max-width: 768px) {
        padding: 24px 0 56px;
    }

    @media screen and (max-width: 480px) {
        background-color: #fff;
    }

    &__title {
        color: #7e97a6;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;

        @media screen and (max-width: 768px) {
            font-size: 45px;
        }

        @media screen and (max-width: 480px) {
            font-size: 24px;
            margin-bottom: 32px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }
    }

    &__slide {
        display: flex;

        svg {
            flex-shrink: 0;
            margin-right: 4px;
            margin-top: 7px;

            @media screen and (max-width: 768px) {
                margin-top: 5px;
            }

            @media screen and (max-width: 670px) {
                margin-top: 4px;
            }

            @media screen and (max-width: 480px) {
                margin-top: 6px;
                width: 10px;
                height: 10px;
            }

            @media screen and (max-width: 415px) {
                margin-top: 3px;
            }
        }
    }

    &__slide-description {
        color: #17181a;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }

        @media screen and (max-width: 670px) {
            font-size: 16px;
        }

        @media screen and (max-width: 470px) {
            font-size: 12px;
        }

        p {
            color: inherit;
            font-feature-settings: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            text-align: start;
        }
    }

    &__slider {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;

            &.grid-2 {
                grid-template-columns: repeat(2, 1fr);
                gap: 42px calc((100% - (238px * 2)) / 2);
            }

            &.grid-3 {
                grid-template-columns: repeat(3, 1fr);
                gap: 42px;
            }

            @media screen and (max-width: 1199px) {
                gap: 42px calc(25% - 210px);

                &.grid-2 {
                    gap: 42px calc(50% - 210px);
                }
            }

            @media screen and (max-width: 991px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 40px calc(25% - 70px);
                max-width: 470px;

                &.grid-2 {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 40px calc(25% - 70px);
                }
                &.grid-3 {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 40px calc(25% - 70px);
                }
            }

            @media screen and (max-width: 670px) {
                gap: 25px calc(25% - 65px);
                max-width: 395px;

                &.grid-2 {
                    gap: 25px calc(25% - 65px);
                }
                &.grid-3 {
                    gap: 25px calc(25% - 65px);
                }
            }

            @media screen and (max-width: 1199px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 480px) {
                gap: 25px 16px;
            }
        }
    }
}
