.lets-talk {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 156px 0;
    text-align: center;

    @media screen and (max-width: 992px) {
        padding: 120px 0;
    }

    @media screen and (max-width: 768px) {
        padding: 80px 0;
    }

    @media screen and (max-width: 480px) {
        padding: 50px 0;
    }

    &__title {
        color: #F3F0EC;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.6;
        margin: 0;

        @media screen and (max-width: 1200px) {
            font-size: 70px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 60px;
        }

        @media screen and (max-width: 992px) {
            font-size: 50px;
        }

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }

        @media screen and (max-width: 480px) {
            font-size: 30px;
            margin-bottom: 8px;
            line-height: 1.26;
        }

        @media screen and (max-width: 480px) {
            font-size: 30px;
            margin-bottom: 8px;
        }
    }

    &__link {
        display: inline-block;
        color: #F3F0EC;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Turbine, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.45;
        margin: 0;
        text-decoration: none;
        position: relative;
        padding: 0 8px;
        border: 2px solid #CC7510;
        transition: 0.3s;

        &:hover {
            @media screen and (min-width: 768px) {
                background-color: #CC7510;
            }

        }

        @media screen and (max-width: 480px) {
            font-size: 16px;
        }
    }
}
