@import '../parts/mixin';

.accordion {
    padding: 80px 0;
    clear: both;

    @media screen and (max-width: 768px) {
        padding: 40px 0;
        background-color: #F3F0EC;
    }

    &__title {
        color: #000;
        font-size: 52px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: 40px;

        @media screen and (max-width: 1024px) {
            font-size: 46px;
        }

        @media screen and (max-width: 768px) {
            font-size: 36px;
        }

        @media screen and (max-width: 670px) {
            font-size: 28px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: 470px) {
            font-size: 24px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 100px;

        @media screen and (max-width: 768px) {
            gap: 16px;
            margin-bottom: 40px;
        }
    }

    &__item {
        &.open {
            .accordion__item-content {
                max-height: 2000px;
                padding: 24px 0;
            }

            .accordion__item-icon {
                display: none;

                &.hover {
                    display: block;
                }
            }
        }

        &:hover {
            .accordion__item-icon {
                display: none;

                &.hover {
                    display: block;
                }
            }
        }
    }

    &__btn {
        text-align: left;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 32px;

        @media screen and (max-width: 768px) {
            gap: 16px;
        }

        >* {
            pointer-events: none;
        }

        span {
            color: var(--Black-80, #2F3034);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;

            @media screen and (max-width: 768px) {
                font-size: 26px;
            }

            @media screen and (max-width: 670px) {
                font-size: 16px;
            }
        }
    }

    &__item-icon {
        flex-shrink: 0;

        @media screen and (max-width: 670px) {
            width: 50px;
            height: 50px;
        }

        &.hover {
            display: none;
        }
    }

    &__item-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s, padding 0.3s;

        h2,
        h3,
        h4,
        h5 {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 24px;

            @media screen and (max-width: 768px) {
                font-size: 26px;
                margin-bottom: 16px;
            }

            @media screen and (max-width: 670px) {
                font-size: 18px;
            }
        }

        ul {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;

            @media screen and (max-width: 768px) {
                gap: 8px;
            }

            li {
                position: relative;
                color: #1D1D1B;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Turbine, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.1;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }

                @media screen and (max-width: 670px) {
                    font-size: 12px;
                }
            }
        }

        p {
            color: #1D1D1B;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Turbine, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.1;
        }
    }

    &__form-title {
        margin-bottom: 32px;
        color: #000;
        font-family: Turbine, sans-serif;
        font-size: 52px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.2;

        @media screen and (max-width: 1024px) {
            font-size: 46px;
        }

        @media screen and (max-width: 768px) {
            font-size: 36px;
        }

        @media screen and (max-width: 670px) {
            font-size: 28px;
        }

        @media screen and (max-width: 470px) {
            font-size: 24px;
        }
    }

    .wpcf7 {
        max-width: 710px;
        width: 100%;

        .wpcf7-form {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .inputs-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .input-wrapper {
            width: 100%;

            textarea {
                height: 233px;

                @media screen and (max-width: 768px) {
                    height: 185px;
                }
            }

            .wpcf7-not-valid-tip {
                font-size: 16px;
                padding: 10px;
            }
        }

        .wpcf7-submit {
            border: 1px solid #CC7510;
            color: #2F3034;
            font-family: Turbine, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            margin-top: 24px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            margin-right: auto;

            @media screen and (max-width: 1024px) {
                font-size: 18px;
            }

            @media screen and (max-width: 768px) {
                margin-left: auto;
                margin-right: 0;
                font-size: 16px;
            }

            &:hover {
                color: #fff;
                background-color: #CC7510;
            }
        }

        .wpcf7-response-output {
            border-color: transparent !important;
            padding: 0;
            margin: 20px 0 0;
        }

        .wpcf7-spinner {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.hbspt-form {
    max-width: 710px;
    width: 100%;
    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .hs-form-field {
        label {
            span {
                display: none;
            }
        }

        textarea {
            height: 233px;
            resize: none;

            @media screen and (max-width: 768px) {
                height: 185px;
            }
        }

        .hs-error-msgs {
            padding-left: 0;
            margin-bottom: 0;
            li {
                color: #dc5d5d;
            }
        }
    }

    .actions {
        display: flex;
    }

    .hs-button {
        @extend %primary-btn;
        font-size: 24px;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }

        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: 0;
            font-size: 16px;
        }

        // &:hover {
        //     color: #2f3034;
        //     background-color: transparent;
        // }
    }
}
