.single-blog {
    padding-top: 112px;
    padding-bottom: 40px;
    //max-width: 1110px;
    clear: both;

    @media screen and (max-width: 768px) {
        padding-top: 80px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Turbine, sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    h3 {

        &.single-blog__custom-date {
            font-weight: 300;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
    }

    h5 {

        &.single-blog__post-title {
            margin-bottom: 24px;
        }

        &.single-blog__read-more-title {
            font-weight: 300;
        }
    }

    strong {
        font-weight: 700;
    }

    //p {
    //    margin-bottom: 24px;
    //}

    &__content-wrap {

    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__post-category {
        color: #17181A;
        margin-right: 32px;

        p {
            margin-bottom: 0;
        }

        /*p {
            color: inherit;
            font-feature-settings: inherit;
            font-family: inherit;
            //font-size: inherit;
            font-style: inherit;
            //font-weight: inherit;
            line-height: inherit;
            text-align: inherit;
            margin: inherit;
        }*/

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }

    &__custom-date {
        color: #CC7510;
        margin-bottom: 0;
        padding-top: 5px;

        p {
            color: inherit;
            //font-feature-settings: inherit;
            font-family: inherit;
            //font-size: inherit;
            //font-style: inherit;
            //font-weight: inherit;
            line-height: inherit;
            text-align: inherit;

            &:last-child {
                margin-bottom: 0;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
            color: inherit;
        }
    }

    &__hero {
        margin-bottom: 40px;

        & + .single-blog__webinar-box {
            margin-top: -40px;
        }
    }

    &__hero-top {
        display: flex;
        align-items: center;
        background: #445C5A;
        padding: 8px 16px;
    }

    &__tag-icon-wrap {
        margin-bottom: 0;
        margin-right: 16px;
    }

    &__tag-name {
        color: #F3F0EC;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.33;
        margin-bottom: 0 !important;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__hero-content-wrap {
        display: flex;
        flex-direction: column;

        &.hero-type-fifty_image {
            flex-direction: row;

            > .hero-content-part {
                flex: 1
            }

            .single-blog__post-img-wrap {
                height: auto;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        }
    }

    &__post-img-wrap {
        width: 100%;
        height: 598px;
        margin-bottom: 0;

        @media screen and (max-width: 768px) {
            height: 240px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__hero-content {
        padding: 40px;
        background: #C7CAC9;

        @media screen and (max-width: 768px) {
            padding: 16px;
        }
    }

    &__post-title {
        color: #17181A;
        margin-bottom: 24px;

        /*p {
            color: inherit;
            font-feature-settings: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            text-align: inherit;
        }
*/
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: inherit;
            margin-bottom: 0;
        }
    }

    &__post-hero-text {
        color: #17181A;
        //font-size: 20px;
        //font-style: normal;
        //font-weight: 400;
        line-height: 1.4;

        p, span, a:not(.custom-content__button) {
            color: inherit;
            //font-size: inherit;
            font-style: inherit;
            //font-weight: inherit;
            line-height: inherit;
        }

        @media screen and (max-width: 768px) {
            //font-size: 18px;
        }
    }

    &__post-text {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #17181A;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 16px;
        }

        div {
            strong {
                display: inline-flex;
                margin-bottom: 16px;
            }
        }

        img {
            //width: calc(50% - 1rem);

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
            @media screen and (max-width: 768px) {
                font-size: 18px;

                strong {
                    font-size: 16px;
                }
            }

        }

        ul li p {
            margin: 0;
            // display: inline-block !important;
        }
    }

    &__read-more-title {
        text-align: center;
        color: #000;
        margin-bottom: 40px;

        p {
            color: inherit;
            font-feature-settings: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            text-align: inherit;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }

    &__read-more-slider-wrapper {
        position: relative;

        @media screen and (max-width: 1030px) {
            padding-bottom: 80px;
            margin-bottom: 60px;
        }
        @media screen and (max-width: 850px) {
            margin-bottom: 0;
            padding-bottom: 30px;
        }
    }

    &__read-more-btn {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        width: max-content;

        &.prev {
            left: -40px;
            transform: translateY(-50%) translateX(-100%);
        }

        &.next {
            left: auto;
            right: -40px;
            transform: translateY(-50%) translateX(100%);
        }

        @media screen and (max-width: 1280px) {
            &.prev {
                left: -20px;
            }

            &.next {
                right: -20px;
            }
        }

        @media screen and (max-width: 1030px) {
            &.prev {
                top: 100%;
                left: 50%;
                transform: translateY(-50%) translateX(-140%);
            }

            &.next {
                top: 100%;
                right: 50%;
                transform: translateY(-50%) translateX(140%);
            }
        }
        @media screen and (max-width: 850px) {
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;
            }

            &.prev {
                transform: translateY(-50%) translateX(-140%);
            }

            &.next {
                transform: translateY(-50%) translateX(140%);
            }
        }
    }

    &__webinar-box {
        background: var(--Blue-Back, #151836);
        text-align: center;
        padding: 36px 140px;
        margin-bottom: 80px;
        position: relative;

        @media screen and (max-width: 1030px) {
            padding: 24px 100px;
        }
        @media screen and (max-width: 850px) {
            padding: 16px;
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            bottom: 0;
            transform: translateY(40px);
            width: 100%;
            height: 1px;
            z-index: 1;
            background: #17181A;
        }
    }

    &__webinar-box-content {
        .body-type-1-regular {
            color: #CC7510;
            font-family: Turbine, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 36px;

            @media screen and (max-width: 850px) {
                font-size: 18px;
            }
        }
    }

    &__webinar-box-video-wrapper {
        border-radius: 20px;
        background: #F3F0EC;
        overflow: hidden;

        @media screen and (max-width: 850px) {
            border-radius: 10px;
        }

        video, iframe {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0;
        }
    }

    &__iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}
